[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bcrypt = "*"
marshmallow = "*"
cloudinary = "*"
psycopg2-binary = "*"
python-dotenv = "*"
gunicorn = "*"
flask = "*"
flask-cors = "*"
flask-jwt-extended = "*"

[dev-packages]

[requires]
python_version = "3.13"
python_full_version = "3.13.5"
